body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #374054; /* Adjusted text color for better readability */
    background-color: #f2f2f5; /* Soft background color */
}

/* Improved button styling */
.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #3498db; /* Border color matches the hover state */
    border-radius: 30px;
    transition: .3s ease-in-out;
    background-color: transparent; /* Transparent background */
}

.btn-rounded-white:hover {
    color: #fff;
    background-color: #3498db; /* Background color change on hover */
    border-color: #217dbb; /* Darker border color on hover */
    text-decoration: none;
}

/* Improved heading style with subtle shadow */
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 500; /* Slightly increased font weight for emphasis */
    margin: 0 0 30px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
}

/* Styling for footer */
footer {
    padding: 50px 0;
    background-color: #3498db; /* Footer background color */
    color: #fff; /* Footer text color */
    text-align: center;
}

/* Social media links styling */
.social a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    transition: .3s ease-in-out;
}

.social a:hover {
    color: #217dbb; /* Darker color on hover */
    text-decoration: none;
}

/* Optional section block styling */
.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 30px;
    border: 1px solid #dcd9d9;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

/* Improved project image positioning */
.project-image {
    float: none;
    margin: 0 auto 15px auto; /* Center the image */
}

/* Mobile menu styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff; /* Header background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px 0;
}

#menu {
    display: none; /* Hide menu by default */
    padding: 10px 0;
    background-color: #fff; /* Menu background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#menu li {
    display: block;
    margin-bottom: 10px;
}

header a {
    display: inline-block;
    color: #374054;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

header a:hover {
    color: #217dbb; /* Darker color on hover */
}
